<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <title>Nielxs Flask App</title>
    <style>
        body { font-family: sans-serif; text-align: center; margin-top: 50px; }
        h1 { color: #333; }
    </style>
</head>
<body>
    <h1>Nielxs Flask App</h1>
    <p>Welcome to Nielxs Flask App</p>
    <p>Which is harder: devising an unsolvable problem, or solving that problem?</p>
    <p>Please answer the question.</p>
    <p>
        Mark Watney is hands down one of my favourite characters from a movie (and/or a book). Matt Damon played it brilliantly in The Martian for which he got an Oscar nomination.
        Apart from his one-liners and uplifting sense of humour (even in the direst of situations), what makes Mark Watney standout from the rest of us is his limitless resourcefulness. You can put him in an impoverished habitat on a barren planet and he would manage to grow potatoes using his own poop. Who wouldn’t want to be more like him!
    </p>
</body>
</html>