<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nielxs Flask App</title>
    <style>
        body { font-family: sans-serif; text-align: center; margin-top: 50px; }
        h1 { color: #333; }
    </style>
</head>
<body>
    <h1>Nielxs Flask App</h1>
    <p>Welcome to new Nielxs Flask App</p>
    <p>
        In the 1920s, a German professor named Eugen Herrigel moved to Japan. He came to teach philosophy at a university a few hours northeast of Tokyo, in a city called Sendai.
        To deepen his understanding of Japanese culture, Herrigel began training in Kyudo, the Japanese martial art of archery. He was taught by a legendary archer named Awa Kenzo. Kenzo was convinced that beginners should master the fundamentals of archery before attempting to shoot at a real target, and he took this method to the extreme. For the first four years of his training, Herrigel was only allowed to shoot at a roll of straw just seven feet away.
    </p>
</body>
</html>